<div class="container">
<h1>Restaurants</h1>

<br>
<p><%= link_to "Add a restaurant", new_restaurant_path  %></p>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant) do %>
    <div class="card my-3">
      <h2><%= restaurant.name %></h2>
      <% end %>
      <p><%= restaurant.address %></p>
      <p><%= restaurant.phone_number %></p>
      <p><%= restaurant.category %></p>
      </div>
  <% end %>
